/* CSS Document */
/* @import url(sanitize.css); */
/*枠線*/
:focus {
    outline: none;
}

/*本体*/
body {
	font-family : UD デジタル 教科書体 NK-B;
	margin:0;
	padding:0;
	background-color: #FFD5A8;
}
/*ヘッダー部分*/
header{
	width:100vw;
	margin:0;
	padding:0;
	position: fixed; /* ヘッダーを固定する */
	top: 0; /* 上部から配置の基準位置を決める */
	left: 0; /* 左から配置の基準位置を決める */
	z-index:100;
}

ul.top-head {
	width:100vw;
	background-color:#DE9B50;
	height: 9vh;
	margin: 0;
	padding:0;
}


li.top-head-img{

	margin: 0;
	padding:0;
}
 ul.top-head li {
	vertical-align:middle;
	display: inline-block;
	text-align: center;
	font-size:3.5vh;
	padding-top:3vh;
	margin: 0;
	font-size : min(4.5vh,2.5vw);
}



ul.top-head li a {
    text-decoration:none;
    color:#FFFFFF;
}
ul.top-head li a:hover {
opacity: 0.5;
}
/*予定管理システム~くろのん~*/
.system-name
{
	font-weight : bold;
	font-size : min(5.5vh,4vw);
	color : #FFFFFF;
}

li.system-name{
	padding-bottom:2vh;
	padding-left: 2vh;;

}

/*会社名☆ロゴ画像*/
.company-name img.top-head-image
{
	background-repeat : no-repeat;
	width: 20%;
	margin-top:-30%;
	margin-bottom:-4%;
}



/*（株）くろ☆のす*/
.company-name
{
	font-weight: bold;
	font-size:  min(2vh,1.5vw);
	text-align: right;
	color: #FFFFFF;
	padding-top: 0;

}
li.company-name{
	float:right;
	padding-bottom:-2vh;
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	height:6vh;
	padding-right:2vw;
}



/*ナビゲーションバー*/
ul.nav {
  margin: 0;
  padding: 0;
  width:100vw;
  background-color :rgba(222, 155, 80, 0.5);
  color:#FFFFFF;
 }

ul.nav li {
  display: inline-block;
  text-align: center;
  font-size:min(3.5vh,2vw);
}


ul.nav li a {
	display: block;
	text-decoration:none;
	color:#FFFFFF;
	padding-top:2vh;
   	padding-bottom:2vh;
   	padding-right:2vh;
   	padding-left:2vh;
}

ul.nav li:hover {
	background-color:#d98425;
}



ul.nav li:last-child {
  width:50vh;
  text-align: center;
}

.nav .nav-right-user{
	float: right;
	padding-top:2vh;
	padding-right: 1vh;
	font-size: min(2.5vh,2vw);
	color:#FFFFFF;
}

.nav .nav-right-img{
	float: right;
	padding-right: 7vh;
	padding-top:0vh;
	padding-bottom:0vh;
	width:2.5vw;
	height: auto;
}
.nav .nav-right-img img {
	padding-top:0.5vh;
}

.nav .nav-right {
	float: right;
padding-top:1vh;
}

.nav .nav-right li{
	float: right;
}
.nav .nav-right-img {
	padding-top:0vh;

  }

.nav .nav-right-img a{
  position: relative;
}

.nav .nav-right-img a:hover{
 opacity: 0.8;
}

.nav .nav-right-img a:after{
  content: "";
  position: absolute;
  top: -4vh;
  right: -2.5vw;
  display: inline-block;
  pointer-events: none;
  width: 6vh;
  height: 6vh;
}

.nav .nav-right-img a:hover:after{
  background: url(/kronon/img/star/star_hyoko.png); /* 表示する画像 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;

}


img.logout-icon {
	padding-top:1vh;
	width: 100%;
	cursor:pointer;
}







/*本文*/
article {
	width:auto;
	margin:0;
	padding:0;
	padding-top:20vh;
	background-color: #FFD5A8;
	font-size: 4vh;
	height: auto;
	color:#FFFFFF;
}

/*フッター*/
footer{
	width:100vw;
	margin:0;
	padding-top:1vh;
	padding-bottom:1vh;
	padding-right:4vw;
	padding-left:0;
	background-color: #DE9B50;
	text-align: right;
	color : #FFFFFF;
	font-size:  min(3vh,1.5vw);
	position: fixed; /* フッターを固定する */
	bottom: 0; /* 上部から配置の基準位置を決める */
	left: -2vw; /* 左から配置の基準位置を決める */

}

/* 戻るボタン */
.back-btn {
	width: 5vw;
	position: fixed;
	left: 3vw;
	top: 81vh;
	cursor:pointer;
}
