
/* 共通パーツ */
/* 基本的にこのファイルは編集しない */

body {
  font-family: UD デジタル 教科書体 NK-B;
}

article{
	color:#000000;
}

/* 改行 */
.new-line{
	white-space: pre-wrap;
}

/* 改行 */
.new-line{
	white-space: pre-wrap;
}

/********************************************************************/
/*ここからポップアップ関連のCSS*/

.pop-container {
  position: absolute;
  top: 20vh;
  left: 32vw;
  background: #FFFFE3;
  background: rgba(255, 255, 227, 1);
  border-style: Solid;
  border-color: #DE9B50;
  border-color: rgba(222, 155, 80, 1);
  border-width: 0.3vw;
  width: 29vw;
  height: auto;
  border-radius: 2vw;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  padding: 3vw;
}

/*内容確認ポップアップなど、要素が多いとき*/
.pop-container-large{
	width:40vw !important;
	left:26vw;
	top:10vh;
}

.pop-container-inner{
	position: relative;
}

.message-container {
  width: 22vw;
  margin: auto;
  text-align: center;
  margin-bottom: 4vw;
  font-size: 1.2vw;
}

.message-container p{
	font-size:1.8vw;
	color:#000000;
}

.message-title{
	font-size: 1.8vw;
	color:#000000;
}


/*ポップアップに表示する画像右下*/
.pop-img {
  background-image: url(image.png);
  background-repeat: no-repeat;
  position: absolute;
  right: -2vw;
  bottom: -2vw;
  width: 9vw;
}
/*この内容で○○するよポップアップ*/
.star-nomal{
  right: 0vw !important;
  bottom: 0vw !important;
  margin-top: 3vh;
  margin-left: 1vw;
  width: 5vw !important;
}

.pop-img-star{
  background-image: url(image.png);
  background-repeat: no-repeat;
  position: absolute;
  right: -1.5vw;
  bottom: -1.5vw;
  width: 6vw;
}

/*ポップアップに表示する画像左上*/
.pop-large-img-top{
  background-image: url(image.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -1vw;
  top: -3.5vw;
  width: 6vw;
}

/*ポップアップに表示する画像左上*/
.pop-img-top{
  background-image: url(image.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -2vw;
  top: -4vw;
  width: 7vw;
}

/*OKボタン*/
.ok-button {
  display: inline-block;
  width: 10vw;
  padding: 0.8vw;
  background-color: #DE9B50;
  border: none;
  border-radius: 0.8vw;
  color: white;
  margin: auto;
  cursor: pointer;
  text-align: center;
  font-size: 1.5vw;
}

/* okボタン内側 */
.ok-button-inner{
	background-color: #DE9B50;
  border: none;
	color: white;
	font-size: 1.5vw;
}

/*NGボタン*/
.ng-button {
  display: inline-block;
  width: 10vw;
  padding: 0.8vw;
  background-color: #DE9B50;
	opacity:0.5;
  border: none;
  border-radius: 0.8vw;
  color: white;
  margin: auto;
  cursor: pointer;
  text-align: center;
  font-size: 1.5vw;
	margin-left:1vw;
}

/* 幅が広いポップアップのOKボタンとキャンセルボタンの間隔調整 */
.large-pop-ok-buttom{
	margin-left:2vw;
	margin-right:2vw;
}

/*モーダル*/
.popup-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 100;
  display: none;
  overflow: scroll;
}

/*閉じるボタン*/
.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #DE9B50;
	opacity:0.5;
  cursor: pointer;
}

/*閉じるボタン画像*/
.back-button{
  position: absolute;
  top: 2vw;
  right: 2vw;
  opacity:0.5;
  cursor: pointer;
  width:2vw;
}


.popup-table{
	font-size:1.4vw;
}


.popup-table{
	border-collapse:collapse;
	text-align: left;
	margin-top:2vw;
	margin-bottom: 2vw;
	table-layout: fixed !important;
}

/*th, td{
	border-bottom: 1px solid black;
}*/


.popup-table th{
	width:10vw;
	padding:0.5vw 0.1vw;
	border-bottom: 0.1vw #888888 solid;
	margin:0;
}

.popup-table td{
	width:30vw;
	padding:1.2vw 0vw;
	border-bottom: 0.1vw #888888 solid;
	margin:0;
	word-wrap: break-word;
	word-break : break-all;
}

.last-table{
	width:30vw;
	padding:1vw 0vw;
	border-bottom: none !important;
	margin:0;
}

/********************************************************************/
/*ここまでポップアップ関連のCSS*/

