@CHARSET "UTF-8";

/* .kronon-banzai img{
	margin-top: -19vw;
	float:right;
	width: 17vw;
	height:auto;
	margin-left:3vw;
} */
.kronon-banzai img {
	width: 17vw;
	position: fixed;
	right: 2vw;
	bottom: 6vh;
}

.kronon-banzai {
	position: fixed;
}

.flex_test-box {
	margin-left: 2vw;
	display: flex; /* フレックスボックスにする */
	justify-content: center;
	align-items: center;
	margin-top: -8vw;
}

.flex_test-item {
	padding: 1vw;
	margin: 1vw; /* 外側の余白 */
}

.user-create-button-return {
	float: left;
	margin-left: 5vw;
	margin-top: -8vw;
}

.user-create-button-return img {
	width: min(100vh, 5vw);
	height: auto;
}