@CHARSET "UTF-8";

#error-msg{
	margin-top: 5vw;
	margin-left: 10vw;
	color: black;
	font-size: 3vw;
}

#error-img{
	width: 25vw;
	margin-bottom: 2vw;
	margin-left: 65vw;
}

.error-msg p{
	font-size: 5vh;
}

.kronon-komatta img{
	width: 17vh;
	margin-top: 20vh;
	margin-left: 100vh;
}

.error-msg p{
	font-size: 5vh;
}

.kronon-komatta img{
	width: 17vh;
	margin-top: 20vh;
	margin-left: 100vh;
}

.error-msg p{
	font-size: 5vh;
}

.kronon-komatta img{
	width: 17vh;
	margin-top: 20vh;
	margin-left: 100vh;
}

.error-msg p{
	font-size: 5vh;
}

.kronon-komatta img{
	width: 17vh;
	margin-top: 20vh;
	margin-left: 100vh;
}

.error-msg p{
	font-size: 5vh;
}

.kronon-komatta img{
	width: 17vh;
	margin-top: 20vh;
	margin-left: 100vh;
}

.error-msg p{
	font-size: 5vh;
}

.kronon-komatta img{
	width: 17vh;
	margin-top: 20vh;
	margin-left: 100vh;
}

.error-msg p{
	font-size: 5vh;
}

.kronon-komatta img{
	width: 17vh;
	margin-top: 20vh;
	margin-left: 100vh;
}

