

.user-create-content{
	text-align:center;
	margin-left:30vw;
	margin-top:0vh;
	width: 40vw;
	height:60vh;
}
.user-create-area1
{
  font-family : UD デジタル 教科書体 NK-B;
  font-weight : bold;
  font-size : 5vh;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.user-create-area2
{
  font-family : UD デジタル 教科書体 NK-B;
  font-weight : bold;
  font-size : 4vh;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  margin-top:3vh;
}


.user-create-area3
{
  font-family : UD デジタル 教科書体 NK-B;
  font-weight : bold;
  font-size : 2vh;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  margin-top:2vh;
}
.user-create-input1 input
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
	width: 50vh;
	height:6vh;
	font-size:2vh;
	margin-top:2vh;
	padding-left:1vh;
	border:none;

}

.user-create-input2 input
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);

	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
	width: 50vh;
	height:6vh;
	font-size:2vh;
	margin-top:2vh;
	padding-left:1vh;
	border:none;

}

.user-create-input3 input
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);

	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
	width: 50vh;
	height:6vh;
	font-size:2vh;
	margin-top:2vh;
	padding-left:1vh;
	border:none;


}

.user-create-input4 input
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);

	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
	width: 50vh;
	height:6vh;
	font-size:2vh;
	margin-top:2vh;
	padding-left:1vh;
	border:none;
	margin-bottom:4vh;
}

.user-create-button-return
{
	float:left;
	margin-left: 5vh;

}

//新規登録ボタン
#user-create-button {
  display: inline-block;
  width: 10vw;
  padding: 0.8vw;
  background-color: #DE9B50;
  border: none;
  border-radius: 0.8vw;
  color: white;
  margin: auto;
  cursor: pointer;
  text-align: center;
  font-size: 1.5vw;
  font-family : UD デジタル 教科書体 NK-B;
}
input #user-create-button{
	font-family : UD デジタル 教科書体 NK-B;
}

